body,
html,
#sapper {
  height: 100%;
}

body {
  background-color: #ffffff;
}

@font-face {
  font-family: 'Sega';
  src: url('./fonts/sega.eot'); /* IE9*/
  src: url('./fonts/sega.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('./fonts/sega.woff2') format('woff2'),
    /* chrome、firefox */ url('./fonts/sega.woff') format('woff'), /* chrome、firefox */ url('./fonts/sega.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('./fonts/sega.svg#Century Gothic V1') format('svg'); /* iOS 4.1- */
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: sans-serif;
}

h2 {
  font-family: 'Sega';
}

a {
  color: #000000;
  font-weight: bold;
}

a:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  color: #bf0103;
}

ul {
  list-style: square outside none;
}

.t-pad-section {
  padding: 30px 0;
}
